@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--p-surface-100);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 3px;
  margin-left: 4px;
}
